/* #region Utilities */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tb-btn: #0061ff;
    --tb-main: #b4d0e7;
    --tb-particular: #3586ff;
    --tb-designit: #a2d39b;
    --tb-designit-border: #d1e9cd;
    --tb-Asu: #61082b;
    --tb-uf: #0093ce;
    --tb-topps: #ff1c1c;
    --tb-wbcr: #d5001f;
    --tb-hearst: #b4d0e7;
    --tb-lonelyp: #0d2481;
    --tb-clear: #ffd830;
    --tb-design-center: #f5f5f5;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.btn-blue {
    background-color: var(--tb-btn);
    color: white;
    padding: 12px;
    border: none;
    font-size: 22px;
}

.btn-white {
    background-color: white;
    color: gray;
    padding: 12px;
    border: 1px solid gray;
    font-size: 22px;
}

.pdg-top {
    padding-top: 100px;
}


.pdg-bottom {
    padding-bottom: 50px;
}

.mb {
    margin-bottom: 60px;
}

.mb-2 {
    margin-bottom: 25px;
}

.mb-3 {
    margin-bottom: 20px;
}

.brd-top-bot {
    border: 0.5px solid lightgrey;
    padding: 4px 0;
}

.mt {
    margin-top: 250px;
}

.mt-2 {
    margin-top: 60px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 150px;
}


.mr {
    margin-right: 70px;
}

.ml {
    margin-left: 50px;
}

.mr-2 {
    margin-right: 55px;
}

.flex {
    display: flex;
}

.nav-fs {
    font-size: 25px;
}

.title-fs {
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 40px;
}

.subtitle-fs {
    font-size: 36px;
    font-weight: 700;
}

.card-fs {
    font-size: 28px;
    font-weight: 700;
}

.card-fs2 {
    font-size: 20px;
    font-weight: 700;
}

.p-fs {
    font-size: 20px;
    font-weight: 300;
}

.border {
    border: 0.5px solid lightgray;
}

.prezzo-fs {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;

}

.card {
    padding: 20px;
}

.container {
    margin: auto;
    width: 80%;
    flex-wrap: wrap;
    max-width: 1170px;
}

.card-container {
    margin: auto;
    width: 90%;
}

.text-align-center {
    text-align: center;
}

.colour-main {
    width: 100%;
    background-color: var(--tb-main);
    height: 800px;
}

.colour-white {
    width: 100%;
    background-color: white;
}


.fatturazione {
    font-size: 20px;
    gap: 20px;
}

.banner {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

/* #endregion Utilities */
/* #region header */

header {
    width: 100%;
    height: 100px;
}

.navbar {
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    justify-content: start;
    width: 50%;
}

.logo>a,
.button>a {
    text-decoration: none;
    padding: 0 30px;
    color: black;
}


.button {
    text-align: center;
    margin-right: 30px;
}

.logo-dropbox {
    width: 10%;
    margin-left: 30px;
    align-self: center;
}

/* #endregion header */

/* #region main */

.row>p {
    padding: 30px 5px;
}

.row1 {
    width: 100%;
    height: 50%;
}

.row2 {
    width: 100%;
    height: 50%;
}

.container>.row {
    position: relative;
}

.col40 {
    width: 40%;
    justify-content: end;
    align-items: start;
}

.col30 {
    width: 30%;
    flex-wrap: wrap;
}

.col33 {
    width: calc(100%/ 3);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.square {
    width: 50%;
    height: 300px;
    max-height: 100%;
    justify-content: center;
    align-items: center;

}

.asu {
    background-color: var(--tb-Asu);
}

.florida {
    background-color: var(--tb-uf);
}

.topps {
    background-color: var(--tb-topps);
}

.green {
    border: solid 20px var(--tb-designit-border);
    background-color: var(--tb-designit);
}

.center {
    background-color: var(--tb-design-center);
    height: 600px;
}

.bicycle {
    background-color: var(--tb-wbcr);
}

.hearst {
    background-color: var(--tb-hearst);
}

.lonely {
    background-color: var(--tb-lonelyp);
}

.clear {
    background-color: var(--tb-clear);
}

.color {
    Filter: invert(1);
}

.square>img {
    width: 50%;
}

.col33 {
    width: 33, 3%;
}

.col70 {
    width: 70%;
}

.col60 {
    width: 60%;
}

.col100 {
    width: 100%;
    justify-content: space-between;
}

.fa-solid {
    font-size: 60px;
}

.col70>.jumbotron {
    width: 120%;
}

.col70>img {
    width: 90%;
}

.col30-card {
    justify-content: space-evenly;
}

.fa-user {
    font-size: 20px;
}


.specifiche>i,
.text-align-center>i {
    font-size: 20px;
    padding-right: 10px;
}

.hr {
    width: 60px;
    margin: 46px 0;
}

.col40>button {
    margin-right: 15px;
}

.card-container>img {
    width: 100%;
}

.col30>img {
    width: 100%;
}